* {
  padding: 0;
  margin: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 1em;
}

.main-panel-outer {
  

}

.main-panel-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}